* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    --primary-bg-color: #E3E2DF;        
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
}

.main {
    display: flex;
    padding: 50px;
    height: 100vh;
    background-color: var(--primary-bg-color);
}

.book-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px 50px;
}

.book {
    min-height: 200px;
    max-height: 250px;
    background-color: rgb(169, 88, 88);
}