* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
    --primary-bg-color: #E3E2DF;
    --book-bg-color: ; 
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-bg-color);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    padding: 20px min(50px, 10%);
    background-color: white;
}

.add-btn {
    margin-left: auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

/* Hidden modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#book-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#book-form > input {
    border: 1px solid;
    padding: 10px;
}

#book-form > .input-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submit-btn {
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
  
/* Close button (you can style it further) */
.close {
    color: #000;
    float: right;
    font-size: 24px;
}


main {
    display: flex;
    padding: 50px;
}

.book-ctn {
    display: grid;
    width: 100%;
    min-height: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto 1fr;
    gap: 50px 50px;
}

.book {
    min-height: 200px;
    background-color: white;
    display: grid;
    padding: 25px;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    gap: 10px;
}

.book-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.book > * > * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.book > .button-ctn {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.read-btn, .dlt-btn{
    width: 80%;
    height: 40%;
    border-radius: 5px;
    cursor: pointer;
}

.read {
    background-color: #2dac2d;
}

.not-read {
    background-color: #FF6666;
}

.dlt-btn {
    background-color: rgb(141, 139, 139);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 20px 0px;
    gap: 5px;
}