* {
    margin: 0;
    padding: 0;
    border: 0;
    --primary-bg-color: #E3E2DF;
    --light-border: 1px solid rgba(0, 0, 0, 0.3);
}

header {
    display: flex;
    padding: 20px min(50px, 10%);
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

body, footer, .modal>* {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-bg-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.add-btn {
    padding: 10px 20px;
    border: var(--light-border);
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: light;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    background-color: var(--primary-bg-color);
}

#book-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.form-header > h2 {
    margin: auto;
}
  
#book-form > input {
    border: var(--light-border);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.is-read-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.is-read-checkbox {
    height: 20px;
    width: 20px;
}

.submit-btn {
    border: var(--light-border);
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #94eaf0;
    font-size: 18px;
}

.close {
    position: absolute;
    top: -5px;
    right: 5px;
    color: grey;
    font-size: 32px;
    cursor: pointer;
}

.close:hover {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.book-ctn {
    display: grid;
    width: 100%;
    min-height: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto 1fr;
    gap: 50px 50px;
    margin-top: 30px;
}

.book {
    min-height: 200px;
    background-color: white;
    display: grid;
    padding: 25px;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    gap: 10px;
}

.book-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.book > .button-ctn {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.read-btn, .dlt-btn{
    width: 80%;
    height: 40%;
    border-radius: 5px;
    cursor: pointer;
}

.read {
    background-color: #2dac2d;
}

.not-read {
    background-color: #FF6666;
}

.dlt-btn {
    background-color: rgb(141, 139, 139);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 20px 0px;
    gap: 5px;
}